<nav class="nav bg-success justify-content-center" data-bs-theme="dark" >  
    <div class="text-center">
        <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping fa-2x" style="color: aliceblue;"></i></a>
    </div>
  
</nav>